<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1">
        <meta charset="UTF-8" />
        <title>{% block title %}Find My Bike{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('user/style/userbasestyle.css') }}">
        {% endblock %}

        {% block style %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
       <!-- <style>
            #main {
                height: 100%;
            }
            #menubar {
                height: 20%;
            }
        </style>
        -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    </head>
    <body>
    {% block message %}

    {% endblock %}
    <div id="main">
    {% block menubar %}
        <div id="menubar">
            <ul id="menu">
                <li><button id="activation">loading...</button></li>
                <li><a href="{{ path('homepage') }}">Home</a></li>
                <li><a href="{{ path('table') }}">detailed log</a></li>
                <li><a href="{{ path('map') }}">Map</a></li>
                <li><a href="{{ path('setting') }}">Setting</a></li>
                <li><a href="{{ path('logout') }}">logout</a></li>
            </ul>
        </div>
    {% endblock %}
    </div>


    {% block body %}

    {% endblock %}

    {% block javascripts %}
    {% endblock %}
    {{ include(":ees/script:ajax.active.html.twig") }}

    </body>
</html>
