{%  extends 'ees/home.html.twig' %}
{% block style %}
{{ parent() }}
<style>
    /* The alert message box */
    .alert {
    padding: 20px;
    color: white;
    margin-bottom: 15px;
    }

    .alert.danger {background-color: #f44336; /* Red */}
    .alert.success {background-color: #4CAF50;}
    .alert.info {background-color: #2196F3;}
    .alert.warning {background-color: #ff9800;}

    /* The close button */
    .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    }

    .closebtn:hover {
    color: black;
    }
</style>
{% endblock %}

{% block message %}
    <div class="alert {{ level }}">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {% for key,message in messages %}
            {% if key==0 %}
                <center><font size="5">{{ message }}</font></center>
                {% else %}
                    <br>{{ message }}
                {% endif %}
        {% endfor %}
    </div>

    {{ parent() }}
{% endblock %}